html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
    width: 100%;
    height: 100%;
}
#tap-to-place {
    position: fixed;
    bottom: 20px;
    left: 50%;
    right: 0px;
    border-radius: 15px;
    background: black;
    color: white;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}
